doctype html
html(manifest="cache.manifest" lang="ru")
head
  meta(charset="UTF-8")
  title Расписание на 6 семестр. ЭС-14.
  meta(name="Keywords" content="Расписание,ЭС-14, 14, ЭС, СФМЭИ")
  meta(name="Description" content="Расписание предметов группы ЭС-14")
  link(rel="stylesheet" href="css/styles.css")
  meta(name="viewport" content="width=device-width")
  link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png?v=ngGk9Mrv2R")
  link(rel="icon" type="image/png" href="img/favicons/favicon-32x32.png?v=ngGk9Mrv2R" sizes="32x32")
  link(rel="icon" type="image/png" href="img/favicons/favicon-16x16.png?v=ngGk9Mrv2R" sizes="16x16")
  link(rel="manifest" href="img/favicons/manifest.json?v=ngGk9Mrv2R")
  link(rel="mask-icon" href="img/favicons/safari-pinned-tab.svg?v=ngGk9Mrv2R" color="#5bbad5")
  link(rel="shortcut icon" href="img/favicons/favicon.ico?v=ngGk9Mrv2R")
  meta(name="msapplication-config" content="img/favicons/browserconfig.xml?v=ngGk9Mrv2R")
  meta(name="theme-color" content="#ffffff")

-
  // Educators name`s
  var pravo = {
    edu: "Слепченкова Светлана Викторовна",
    eduMin: "Слепченкова С.В."
  };

  var esip = {
    edu: "Шунаев Сергей Анатольевич",
    eduMin: "Шунаев С.А.",
    edu2: "Марков Владимир Сергеевич",
    eduMin2: "Марков В.С."
  };

  var emp = { 
    edu: "Кавченков Валерий Петрович",
    eduMin: "Кавченков В.П.",
    edu2: "Андреенков Евгений Сергеевич",
    eduMin2: "Андреенков Е.С.",
    edu3: "Каминский Александр Владимирович",
    eduMin3: "Каминский А.В."
  };

  var em = {
    edu: "Божин Юрий Михайлович",
    eduMin: "Божин Ю.М.",
    edu2: "Кулик Юрий Дмитриевич",
    eduMin2: "Кулик Ю.Д.",
    edu3: "Самоченков Александр Игоревич",
    eduMin3: "Самоченков А.И."
  };

  var es = {
    edu: "Петров Виктор Степанович",
    eduMin: "Петров В.С.",
    edu2: "Долецкая Лариса Ивановна",
    eduMin2: "Долецкая Л.И."
  };

  var ee = {
    edu: "Соколов Р.В.",
    eduMin: "Соколов Р.В.",
    edu2: "Рябова Диана Олеговна",
    eduMin2: "Рябова Д.О.",
    edu3: "Солопов Роман Вячеславович",
    eduMin3: "Солопов Р.В."
  };

  // Time 
  var time = {
    first: "8:30 - 10:00",
    second: "10:15 - 11:45",
    third: "12:00 - 13:30",
    fourth: "14:00 - 15:30"
  };



body

  ul.menu
    li
      a(class='menu-link' href='#monday') Понедельник
    li
      a(class='menu-link' href='#tuesday') Вторник
    li
      a(class='menu-link' href='#wednesday') Среда
    li
      a(class='menu-link' href='#thursday') Четверг
    li
      a(class='menu-link' href='#friday') Пятница

  .btn-container
    .setup-general.li-setup
    .setup-general.background-setup
    .setup-general.day-setup
  .setup-general.menu-setup
  
  .wrapper-main
  
    .main_title#monday Понедельник
    ul.day_week
      li
        .num 1.Ч
        .time #{time.first}
        .discipline Нет пары.
        
      li
        .num 1.З
        .time #{time.first}
        .discipline Нет пары.
   
      li
        .num 2.Ч
        .time #{time.second}
        .discipline Нет пары.
   
      li
        .num 2.З
        .time #{time.second}
        .discipline У. Правоведение.
        .auditory 211
        .educator.tooltip(data-title= pravo.edu)
          span #{pravo.eduMin}
   
      li
        .num 3.Ч
        .time #{time.third}
        .discipline ЛК. Электромагнитные переходные процессы в электроэнергетических системах.
        .auditory А4
        .educator.tooltip(data-title= emp.edu)
          span #{emp.eduMin}
   
      li
        .num 3.З
        .time #{time.third}
        .discipline ЛК. Электромагнитные переходные процессы в электроэнергетических системах.
        .auditory А4
        .educator.tooltip(data-title= emp.edu)
          span #{emp.eduMin}
   
      li
        .num 4.Ч
        .time #{time.fourth}
        .discipline Нет пары.
   
      li
        .num 4.З
        .time #{time.fourth}
        .discipline Нет пары.
  
  
  
  
    .main_title#tuesday Вторник
    ul.day_week
      li
        .num 1.Ч
        .time #{time.first}
        .discipline ЛК. Электроснабжение.
        .auditory 425
        .educator.tooltip(data-title= es.edu2)
          span #{es.eduMin2}
   
      li
        .num 1.З
        .time #{time.first}
        .discipline ЛК. Электроснабжение. 
        .auditory 425
        .educator.tooltip(data-title= es.edu2)
          span #{es.eduMin2}
   
      li
        .num 2.Ч
        .time #{time.second}
        .discipline ЛК. Электрические машины. 
        .auditory 425
        .educator.tooltip(data-title= em.edu)
          span #{em.eduMin}
   
      li
        .num 2.З
        .time #{time.second}
        .discipline ЛК. Электрические машины. 
        .auditory 425
        .educator.tooltip(data-title= em.edu)
          span #{em.eduMin}
       
      li
        .num 3
        .time #{time.third}
        .discipline ЛБ. Электрические станции и подстанции. 1 пгр.
        .auditory А122
        .educator.tooltip(data-title= esip.edu)
          span #{esip.eduMin}
   
      li
        .num 3
        .time #{time.third}
        .discipline ЛБ. Электромагнитные переходные процессы в электроэнергетических системах. 2 пгр.
        .auditory А317
        .educator.tooltip(data-title= emp.edu2)
          span #{emp.eduMin2}
   
      li
        .num 4.Ч
        .time #{time.fourth}
        .discipline У. Электромагнитные переходные процессы в электроэнергетических системах.
        .auditory 405
        .educator.tooltip(data-title= emp.edu3)
          span #{emp.eduMin3}
   
      li
        .num 4.З
        .time #{time.fourth}
        .discipline У. Электромагнитные переходные процессы в электроэнергетических системах.
        .auditory 405
        .educator.tooltip(data-title= emp.edu3)
          span #{emp.eduMin3}
  
  
  
  
    .main_title#wednesday Среда
    ul.day_week
      li
        .num 1.Ч
        .time #{time.first}
        .discipline У. Электрические станции и подстанции.
        .auditory A122
        .educator.tooltip(data-title= esip.edu)
          span #{esip.eduMin}
   
      li
        .num 1.З
        .time #{time.first}
        .discipline Нет пары.
   
      li
        .num 2
        .time #{time.second}
        .discipline ЛБ. Электроснабжение. 1 пгр.
        .auditory А208
        .educator.tooltip(data-title= es.edu)
          span #{es.eduMin}
   
      li
        .num 2
        .time #{time.second}
        .discipline ЛБ. Электрические станции и подстанции. 2 пгр.
        .auditory А122
        .educator.tooltip(data-title= esip.edu)
          span #{esip.eduMin}
       
      li
        .num 3.Ч
        .time #{time.third}
        .discipline ЛК. Электрические станции и подстанции.
        .auditory А4
        .educator.tooltip(data-title= esip.edu2)
          span #{esip.eduMin2}
   
      li
        .num 3.З
        .time #{time.third}
        .discipline ЛК. Экономика энергетики.
        .auditory 425
        .educator.tooltip(data-title= ee.edu3)
          span #{ee.eduMin3}
   
      li
        .num 4.Ч
        .time #{time.fourth}
        .discipline КП. Электрические машины. 
        .auditory В114
        .educator.tooltip(data-title= em.edu2)
          span #{em.eduMin2}
   
      li
        .num 4.З
        .time #{time.fourth}
        .discipline Нет пары.
  
  
  
  
    .main_title#thursday Четверг
    ul.day_week
      li
        .num 1.Ч
        .time #{time.first}
        .discipline ЛК. Правоведение.
        .auditory А4
        .educator.tooltip(data-title= pravo.edu)
          span #{pravo.eduMin}
        
      li
        .num 1.З
        .time #{time.first}
        .discipline Нет пары.
       
      li
        .num 2
        .time #{time.second}
        .discipline ЛБ. Электромагнитные переходные процессы в электроэнергетических системах. 1 пгр.
        .auditory А317
        .educator.tooltip(data-title= emp.edu2)
          span #{emp.eduMin2}
   
      li
        .num 2
        .time #{time.second}
        .discipline ЛБ. Электроснабжение. 2 пгр.
        .auditory А208
        .educator.tooltip(data-title= es.edu)
          span #{es.eduMin}
   
      li
        .num 3.Ч
        .time #{time.third}
        .discipline ЛБ. Электрические машины. 1 пгр.
        .auditory В01 В02
        .educator.tooltip(data-title= em.edu3)
          span #{em.eduMin3}
   
      li
        .num 3.З
        .time #{time.third}
        .discipline ЛБ. Электрические машины. 2 пгр.
        .auditory В01 В02
        .educator.tooltip(data-title= em.edu3)
          span #{em.eduMin3}
   
      li
        .num 4.Ч
        .time #{time.fourth}
        .discipline ЛБ. Электрические машины. 1 пгр.
        .auditory В01 В02
        .educator.tooltip(data-title= em.edu3)
          span #{em.eduMin3}
   
      li
        .num 4.З
        .time #{time.fourth}
        .discipline ЛБ. Электрические машины. 2 пгр.
        .auditory В01 В02
        .educator.tooltip(data-title= em.edu3)
          span #{em.eduMin3}
      
  
 

    .main_title#friday Пятница
    ul.day_week
      li
        .num 1.Ч
        .time #{time.first}
        .discipline Нет пары.
        
      li
        .num 1.З
        .time #{time.first}
        .discipline Нет пары.
       
      li
        .num 2.Ч
        .time #{time.second}
        .discipline У. Экономика энергетики.
        .auditory 404
        .educator.tooltip(data-title= ee.edu2)
           span #{ee.eduMin2}
   
      li
        .num 2.З
        .time #{time.second}
        .discipline У. Экономика энергетики.
        .auditory 404
        .educator.tooltip(data-title= ee.edu2)
           span #{ee.eduMin2}
   
      li
        .num 3.Ч
        .time #{time.third}
        .discipline КР. Электромагнитные переходные процессы в электроэнергетических системах.
        .auditory 425
        .educator.tooltip(data-title= emp.edu3)
           span #{emp.eduMin3}
   
      li
        .num 3.З
        .time #{time.third}
        .discipline У. Электроснабжение.
        .auditory А122
        .educator.tooltip(data-title= es.edu2)
           span #{es.eduMin2} 

      li
        .num 4.Ч
        .time #{time.fourth}
        .discipline Нет пары.
   
      li
        .num 4.З
        .time #{time.fourth}
        .discipline Нет пары.
  

    a(class='bottom_link_top' href='#top') Вверх
    .footer
     p Сделано в 2016 году.
     a(href='mailto:marchenkovdmitry@gmail.com') marchenkovdmitry@gmail.com

    script(src="js/main.js")
